# binary executables
*.bin
*.elf

# linked objects
*.o

# vscode files and folders
.vscode/

# build directory
build/

# cmake stuff
CMakeFiles/
Makefile
cmake_install.cmake
CMAKE_MODULE_PATH
CMakeCache.txt